@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Quicksand:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio css barra de navegacion grids */


a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: #455049;
}

.lista{
    height: 100vh;
    display:grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo logo sobremi reseñas"
    "logo logo autores contacto";
}


.logo {
    background-image: url("../imagenes/foto\ fabi2.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: logo;
    font-family: 'Dancing Script', cursive;
    color:white;
    font-size:70px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sobremi {
    background-color: #A0A99F;
    grid-area: sobremi;
}

.reseñas {
    background-color:#BDBBB6;
    grid-area: reseñas;
}

.autores {
    background-color: #D1C6C3;
    grid-area: autores;
}

.contacto {
    background-color:#73877B;
    grid-area: contacto;
}

.hijo {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

/* media queries index.html */ 

@media (max-width: 805px ) {
    .lista {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo"
        "sobremi reseñas"
        "autores contacto";
    }
}

    @media (max-width: 400px ) {
        .lista{
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "logo"
            "sobremi"
            "reseñas"
            "autores"
            "contacto";
        }
    }

/* fin css barra de navegacion grids*/

/*inicio css footer*/

.footer{
    background-color: black;
    color:white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

.nombre{
    color: white;
    font-family: 'Dancing Script', cursive;
}

.social{
    font-family: 'Quicksand', sans-serif;
}

.copy{
    font-family: 'Quicksand', sans-serif;
}



/* inicio css barra de navegacion flex */

.navpagina{
    background-color:#73877b ;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: #455049;
}

.listapagina {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 15rem;
    color:white;
    height: 3rem;
}


.logopagina {
    font-family: 'Dancing Script', cursive;
}

.hijopagina {
    font-family: 'Quicksand', sans-serif;
}

/*fin css barra de navegacion flex */

/* inicio css sobremi*/

.sobremigrids {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
"fotosobremi "
"presentacion";
}

.fotosobremi {
    grid-area: fotosobremi;
}

.presentacion {
    grid-area: presentacion;
}


.titulo {
    display:flex;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    color:#73877B;
    margin: 10px;
}

/* fin css sobremi*/

/* inicio css autores*/

.explicacion {
    font-family: 'Quicksand', sans-serif;
}

/* fin css autores*/

/*inicio css reseñas*/

.respagina { 
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "elpoder penelope susurro";
    gap: 2rem;

}
.elpoder {
    font-family: 'Quicksand', sans-serif;
    grid-area: elpoder;
   background-color:#a79b9a ; 
   color: white;
   margin: 10px;
   text-align: center;
}

.imgelpoder {
    margin: 10px;
}

.penelope {
    font-family: 'Quicksand', sans-serif;
    grid-area: penelope;
    background-color:#928f9e ; 
    color: white;
    margin: 10px;
    text-align: center;
}

.imgpenelope {
    margin: 10px;
}

.susurro {
    font-family: 'Quicksand', sans-serif;
    grid-area: susurro;
    background-color:#8f947e ; 
    color: white;
    margin: 10px;
    text-align: center;
}

.imgsusurro {
    margin: 10px;
}

.ver {
    color: black;
}

@media (max-width: 953px ) {
    .respagina {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "elpoder"
        "penelope"
        "susurro";
    }
}

/* fin css reseñas/

/*inicio css contacto*/

.whatsappcontacto { 
    color:black;
    font-family: 'Quicksand', sans-serif;
}

.ubicacion {
    color:black;
    font-family: 'Quicksand', sans-serif;
}

.instagramcontacto {
    color:black;
    font-family: 'Quicksand', sans-serif;
}

/*fin css contacto*/